apiVersion: apps/v1
kind: Deployment
metadata: 
  name: airflow-deployment
spec: 
  replicas: 2
  selector: 
    matchLabels: 
      app: airflow
  template: 
    metadata: 
      labels: 
        app: airflow
    spec: 
      containers: 
        - 
          image: "puckel/docker-airflow:1.10.9"
          name: airflow
          ports: 
            - 
              containerPort: 80
