apiVersion: apps/v1
kind: Deployment
metadata:
  name: superset-deployment
spec:
  selector:
    matchLabels:
      app: superset
  replicas: 2
  template: 
    metadata:
      labels: 
        app: superset
    spec:
      containers:
      - name: superset
        image: amancevice/superset:2.0.0
        ports:
        - containerPort: 80
